In [2]:
import pandas as pd
path = "/home/aida-zw/Desktop/ws/Data/sample/"

In [3]:
fname = "accu.txt"
df = pd.read_csv(path + fname, header=None, names=["accusation"])
df['accusation_num'] = range(1,df.shape[0]+1)
df.to_csv(path+ fname[:-4]+ ".csv", index=False)
df.head()

  accusation  accusation_num
0       妨害公务               1
1       寻衅滋事               2
2    盗窃、侮辱尸体               3
3     危险物品肇事               4
4       非法采矿               5

In [7]:
fname = "law.txt"
df = pd.read_csv(path + fname, header=None, names=["articles"])
df['articles_num'] = range(1,df.shape[0]+1)
df.to_csv(path+ fname[:-4]+ ".csv", index=False)
df.head()

   articles  articles_num
0       184             1
1       336             2
2       314             3
3       351             4
4       224             5