In [1]:
import pandas as pd

In [2]:
path = "/home/aida-zw/Desktop/ws/Data/full/"
fname = "data_train.json"

## convert json to csv

In [3]:
df = pd.read_json(path + fname, lines=True)
df01 = pd.DataFrame(list(df['meta']))
df02 = pd.DataFrame(list(df01['term_of_imprisonment']))
df_new = pd.concat([df.drop('meta', axis=1), df01.drop("term_of_imprisonment", axis=1), df02], axis=1)

## clean strings

In [4]:
df_new["accusation"] = df_new["accusation"].map(str).str[1:-1]
df_new["accusation"] = df_new["accusation"].str.replace("'","")
df_new["relevant_articles"] = df_new["relevant_articles"].map(str).str[1:-1]
df_new["relevant_articles"] = df_new["relevant_articles"].str.replace("'","")
df_new["fact"] = df_new["fact"].map(str).str.strip()
df_new["fact"] = df_new["fact"].str.replace("\r\n", "")

## imprisonment adjustment

In [5]:
df_new.loc[df_new["life_imprisonment"] == True,'imprisonment'] = -1
df_new.loc[df_new["death_penalty"] == True,'imprisonment'] = -2

## save csv to local

In [6]:
df_new.to_csv(path+ fname[:-4] + 'csv', index=False, encoding='utf-8')

## new csv

In [7]:
df_new.head()

,fact,accusation,criminals,punish_of_money,relevant_articles,death_penalty,imprisonment,life_imprisonment
0,公诉机关指控：2016年3月28日20时许，被告人颜某在本市洪山区马湖新村足球场马路边捡拾到...,盗窃,[颜某],1000,264,False,4,False
1,天津市静海县人民检察院指控，2014年5月13日上午8时许，被告人李xx在天津市静海县大邱庄...,盗窃,[李xx],0,264,False,0,False
2,永顺县人民检察院指控，2014年1月11日，被告人李某某与彭某某（另案处理）在永顺县塔卧镇“...,强奸,[李某某],0,236,False,144,False
3,公诉机关起诉书指控：2016年11月17日凌晨1时许，被告人周某在本县武康街道营盘小区131...,盗窃,[周某],5000,264,False,6,False
4,大名县人民检察院起诉书指控，2014年3月25日9时许，被告人张某在自家庄某处因故与本村席某...,故意伤害,[张某],0,234,False,21,False

## verification

In [8]:
df_tmp = pd.read_csv(path+ fname[:-4] + 'csv', encoding='utf-8')
df_tmp.head()

,fact,accusation,criminals,punish_of_money,relevant_articles,death_penalty,imprisonment,life_imprisonment
0,公诉机关指控：2016年3月28日20时许，被告人颜某在本市洪山区马湖新村足球场马路边捡拾到...,盗窃,['颜某'],1000,264,False,4,False
1,天津市静海县人民检察院指控，2014年5月13日上午8时许，被告人李xx在天津市静海县大邱庄...,盗窃,['李xx'],0,264,False,0,False
2,永顺县人民检察院指控，2014年1月11日，被告人李某某与彭某某（另案处理）在永顺县塔卧镇“...,强奸,['李某某'],0,236,False,144,False
3,公诉机关起诉书指控：2016年11月17日凌晨1时许，被告人周某在本县武康街道营盘小区131...,盗窃,['周某'],5000,264,False,6,False
4,大名县人民检察院起诉书指控，2014年3月25日9时许，被告人张某在自家庄某处因故与本村席某...,故意伤害,['张某'],0,234,False,21,False

In [10]:
df_tmp['fact'][120]

'公诉机关指控，一、诈骗1、2012年间，被告人王1某虚构自己投资1200万某在盂县经营服装城生意、投资1000万某在阳泉市开发区经营阳泉市东源名尚装饰有限公司，且其与银行行长关系密切，办理未到期的银行承兑汇票不需要支付贴现费用等事实，通过为董某某（男，48岁，平定县人）办理小额银行承兑汇票等方式，取得了董某某的信任。同年10月22日，被告人王1某编造银行行长在单位，当天就可以将董某某的银行承兑汇票兑换出现金之谎言，骗取董某某两张共计人民币200万某的银行承兑汇票。之后，被告人王1某将董某某的200万某银行承兑汇票予以兑现，并占为己有。2、2014年1月份，被告人王1某编造其能帮助陈某某（男，29岁，山西省和顺县人）将白色丰田霸道越野车（价值305607元）以人民币50万某的价格出售之谎言，取得陈某某的信任。1月15日，陈某某将该车及车辆手续交给被告人王1某出售，后被告人王1某以人民币28.5万某的价格将该车出售给郭某某，并将卖车款全部占为己有。二、抽逃出资被告人王1某于2012年2月23日注册成立阳泉市东源名尚装饰有限公司，注册资本人民币100万某，其担任公司法定代表人。同年9月5日，被告人王1某向阳泉市工商行政管理局开发区分局申请将本公司注册资本变更为1000万某。同日，阳泉市渊隆经贸有限公司将人民币900万某转入阳泉市东源名尚装饰有限公司在中国工商银行股份有限公司阳泉新市街支行开设的账户。之后，阳泉市同昌会计师事务所为阳泉市东源名尚装饰有限公司出具公司注册资本由100万某变更为1000万某的验资报告。同年9月6日，被告人王1某将阳泉市渊隆经贸有限公司转入本公司账户中的人民币899.95万某予以抽逃。就以上指控事实，公诉机关提供了相应证据，故认为被告人王1某之行为构成××、抽逃出资罪，依法应予惩处。'

In [3]:
df = pd.read_csv(path+'data_train.csv')

In [15]:
df[df.accusation=="故意杀人"].punish_of_money.value_counts()

0        6966
30000       1
4000        1
50000       1
Name: punish_of_money, dtype: int64